@inherits LayoutComponentBase

<PageTitle>Pizza Hearth</PageTitle>

<header class="app-header">

    <div class="container">
        <nav class="navbar">
            <div class="col-md-auto image-text align-middle">
                <img class="logo-icon align-middle" src="img/fire-place.png" alt="pizza hearth icon">
                <p class="app-name align-middle"> Pizza Hearth</p>
            </div>
            <div class="icon-container col-md-auto right-image">
                <img class="icon img-fluid" src="img/shopping-cart.png" alt="shopping cart">
            </div>
        </nav>
    </div>
</header>

<div class="container">
    @Body
</div>