@page "/pizzamenu"
<h3>PizzaMenu</h3>

<div class="container">
    <div class="justify-content-center">
        <h1 class="menu-heading"> YOUR pizza</h1>
        <div class="pizza-card container-sm">
            <p class="text-center align-middle"> Create your own Pizza!</p>
        </div>

    </div>

    <h1 class="menu-heading"> Popular Pizzas </h1>

    <div class="row justify-content-center align-items-xl-start">

        <div class="pizza-card container-sm">
            <p> Test</p>
        </div>
        <div class="pizza-card container-sm">
            <p> Test</p>
        </div>
        <div class="pizza-card container-sm">
            <p> Test</p>
        </div>
        <div class="pizza-card container-sm">
            <p> Test</p>
        </div>
        <div class="pizza-card container-sm">
            <p> Test</p>
        </div>
        <div class="pizza-card container-sm">
            <p> Test</p>
        </div>
    </div>
</div>



@code {

}
